travel.dtd

<!ELEMENT travelPackages (package+)>
<!ELEMENT package (id, name, description, price, availability, duration, departureDate, destination)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT availability (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT departureDate (#PCDATA)>
<!ELEMENT destination (#PCDATA)>
